/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Google Font */
body {
	font-family: 'Open Sans', sans-serif;
}

/* Navigation bar */
/* 1rem = 16px (default font size) */
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/*margin vs padding*/
/* margin is best used when create space between elements */
/* padding is best used when creating space between element's border and it's content*/

nav .nav-logo, nav .nav {

 margin: 0.5rem;
/* Change elements to inline elements*/
 display: inline;

}

#intro {
	/* Creates space between the contents of the intro section and it's border */

	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	font-weight: bold;
	background-color: #c2195d;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	color: white;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	/* allows the cards to appear beside each other */
	display: inline-block;
	/*	aligns elements with the tallest element in line*/
	/*used with the inline-block value*/
	vertical-align: top;
	/* allows for card to have equal height that adjust with the content	*/
	min-height: 175px;
	width: 30%;
	/*	create horizantal spacing between cards*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;

}

#pre-footer {
	background-color: #000033;

}

#pre-footer .Uno {
	display: inline-block;
	vertical-align: baseline;
	min-height: 100px;
	width: 15%;
	margin-left: 0.5rem;
	margin-right: 3.7rem;
	color: white;
	padding: 1rem;
	margin-top: 0.rem;
}

#pre-footer p {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
